.search {
	width: 100%;
	padding: 16px;
	display: flex;
	justify-content: center;
	background-color: #6fcf97;
	&__form__wrapper {
		position: relative;
	}
	&__form {
		width: 100%;
		display: flex;
		align-items: center;
	}
	&__form:focus-within &__icon {
		transition: 0.5s all ease;
		left: 2%;
	}
	&__input {
		-webkit-transition: width .35s ease-in-out;
		transition: all .35s ease-in-out;
		font-family: Rubik;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: normal;
		color: #bdbdbd;
		max-width: 179px;
		height: 28px;
		background: #f6f6f6;
		border-radius: 4.12952px;
		margin-right: 12px;
		padding: 0 32px;
		text-align: center;
		border: 0;
		outline: none;
	}
	&__input::placeholder {
		font-family: Rubik;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: normal;
		color: #bdbdbd;
	}
	&__icon {
		position: absolute;
		transition: 0.5s all ease;
		left: 12%;
	}
}
