.message__to {
	padding: 16px 57px;
	background: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	&__form {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}
	&__form:before {
		content: 'To: ';
		position: absolute;
		font-family: Rubik;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: normal;
		color: #b0b0b0;
		left: 10px;
	}
	&__input {
		width: 100%;
		font-family: Rubik;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: normal;
		color: #bdbdbd;
		height: 28px;
		background: #f6f6f6;
		border-radius: 4.12952px;
		margin-right: 12px;
		padding: 0 32px;
		border: 0;
		outline: none;
		text-overflow: ellipsis;
	}
	&__input::placeholder {
		font-family: Rubik;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: normal;
		color: #bdbdbd;
	}
}
