.main {
	&-max {
		display: flex;
		flex-flow: column wrap;
	}

	height: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	&__header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 9;
	}

	&__content {
		width: 100%;
		flex: 1;
		overflow: auto;
		display: flex;
		align-items: center;
		transition: all .25s ease-in-out;
		flex-flow: column;
		margin-top: 60px;
	}

	&__content--none {
		display: none;
	}

	&__content--margin {
		width: 100%;
		flex: 1;
		overflow: auto;
		flex-flow: column;
		display: flex;
		align-items: center;
		transition: all .25s ease-in-out;
		margin-top: 256px;
	}

	&__footer {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.main {
		flex-flow: row;
		align-items: flex-start;
		&__header {
			width: 122px;
			position: relative;
			height: 100%;
			flex: 0 0 auto;
		}
		&__content {
			width: 243px;
			margin-top: 0;
			flex: 0 0 auto;
			overflow: hidden;
		}
		&__messages {
			height: 100%;
			flex: 1 1 auto;
		}
		&__footer {
			flex: 0 0 auto;
			height: 100%;
			width: 62px;
		}
	}
}
