.main__header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
}

.main__content {
	transition: all .25s ease-in-out;
	margin-top: 118px;
}

.main__content--margin {
	transition: all .25s ease-in-out;
	margin-top: 304px;
}
