.navbar {
	padding: 20px;
	display: flex;
	flex-flow: column;
	background-color: #4f4f4f;
	color: #f2f2f2;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	line-height: normal;
	box-shadow: 0px 1px 2px #8c8c8c;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__settings {
		cursor: pointer;
	}
	&__toggle__button {
		font-size: 15px;
		background: none;
		border: 0;
		outline: 0;
	}
	&__toggle__button:hover .svg-inline--fa {
		color: #6fcf97;
		transition: 0.5s all ease;
	}
	&__toggle__button--active .svg-inline--fa {
		color: #6fcf97;
	}
	&__list {
		transition: all 2s linear;
		display: block;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		padding-bottom: 14px;
	}
	&__link {
		padding-left: 9px;
		cursor: pointer;
	}
	&__link:hover {
		color: #6fcf97;
	}
	&__theme {
		width: 92px;
	}
	&__theme__icon {
		position: absolute;
		top: 25%;
		right: 4%;
	}
	&__theme__icon--rotate {
		transform: rotate(-90deg);
	}
}

.selected {
	color: #6fcf97;
}

.svg-inline--fa {
	cursor: pointer;
	transition: 0.5s all ease;
}

.d-none {
	display: none;
	opacity: 0;
}
