@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

html,
body,
#root,
.main-max {
	height: 100%;
	overflow: hidden;
}
